@tailwind base;
@tailwind components;
@tailwind utilities;

.sunize-scrollbar::-webkit-scrollbar {
  width: 7px;
}

.sunize-scrollbar::-webkit-scrollbar-thumb {
  background: #c27c2c;
}

.sunize-scrollbar::-webkit-scrollbar-track {
  background: #1f1f2b;
}

.auth-scrollbar ::-webkit-scrollbar {
  @apply w-2;
}
